* {
  box-sizing: border-box;
  overflow: scroll;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 25px;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #D2F0D1;
  color: #164121;
  font-family: 'Khand', sans-serif;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAP0lEQVQoU2P8f+jN/8t6TxmwAd1L0gyMlz5c/A9ioCuCiYEVgHRjUwQShyuAWYGuEEUBNlMwTEC3jrAjCXkTAL9DOs0rNSRwAAAAAElFTkSuQmCC)
  repeat;
}  

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.verb h1 {
  font-size: 100px;
  text-align: center;
}

.verb h1 span:hover {
  color: white;
  font-size: 300px;
}

.menu {
  padding-left: 35px;
}