* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 30px;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Khand', sans-serif;
  background: honeydew;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-size: 0;
  line-height: 0;
}

@keyframes scaledown {
  0% {
    size: 50px;
  }
  100% {
    size: 5px; 
  }
}

.shape {
  margin: 0;
  width: 100px;
  height: 85px;
  border:5px solid;
  border-radius: 10px;
  left: 100px;
  top: 100px;
  font-size: 100px;
  display: inline-block;
  color: mistyrose;
  background-color: darkseagreen;
  transition: all 2s;
  animation-name: scaledown;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite; 
}

.shape-interaction {
  transform:scale(0.75,0.75);
  color: peachpuff;
  background-color:khaki;
}

.click-me {
  transform: scale(0.5,0.5);
  background-color: mistyrose;
  color: darkseagreen;
}
